    body {
        background-image: linear-gradient(to bottom, orange, red);
        background-repeat: 1;
        height: 150;
    }
    
    header {
        background-color: #333;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px 12vh;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: #BF0404;
        color: black;
        transform: scale(1.25);
    }
    
    #actual {
        background: orange;
    }
    
    .sport {
        float: left;
        position: relative;
        padding: 0 100px 0;
    }
    
    .texto-block {
        font-size: 12px;
        top: 20px;
        color: black;
    }
    
    .container {
        content: "";
        clear: both;
        display: table;
    }
    
    img {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    
    img:hover {
        opacity: 1.0;
        filter: alpha(opacity=100);
    }